/* ----------------------------------------
   GLOBAL STYLE
----------------------------------------- */
body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    color: #222;
}

h1, h2, h3, .logo {
    font-family: 'Cinzel', serif;
   margin-top : 6px
}
img {
    width: 100%;
    display: block;
    object-fit: cover;
}
.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}
/* ----------------------------------------
   HEADER
----------------------------------------- */
header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

header .logo {
    color: white;
    font-size: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 15px;
    margin-top : 15px 
    margin-right : 15px
}

/* ----------------------------------------
   HERO SECTION
----------------------------------------- */
.hero {
    background-image: url('images/accueil.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-text h1 {
    font-size: 42px;
    text-align: center;
    margin: 0;
}

.hero-text p {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

/* ----------------------------------------
   PRODUITS
----------------------------------------- */
.produits {
    background: #F2EBE3;
    padding: 60px 40px;
    text-align: center;
}

.produits h2 {
    font-size: 28 px;
    margin-bottom: 40 px;
}

.produits-grid {
    display: grid;
    grid-template-columns: repeat (3, 1 fr);
    gap: 40 px 
    justify-items: center;
    width: 100%;
}
.produit {
    position: relative;
    background: white;
    border-radius: 6px;
    padding-bottom: 20px;
}

.produit img {
    width: 100%;
    height: 330px;
    object-fit : cover;
    object-position: center;
    border-radius: 4px;
}
.produit span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 6px 20px;
    font-size: 18px;
}

/* ----------------------------------------
   ARTISTES
----------------------------------------- */
.artistes {
    background: #A67C65;
    padding: 70px 50px;
    color: white;
}

.artistes h2 {
    text-align: center;
    margin-bottom: 40px;
}

.artistes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.artist {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.artist img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.artist h3 {
    margin: 0;
    margin-bottom: 8px;
    text-align : justify 
}

.artist p {
    margin: 0;
    color: #F2EBE3;
}

/* ----------------------------------------
   A PROPOS
----------------------------------------- */
.apropos {
    padding: 50px 60px;
    background: #EFE7DD;
}

.apropos h4 {
    margin-bottom: 20px;
    font-size: 18px;
}

/* ----------------------------------------
   CONTACT
----------------------------------------- */
.contact {
    background: #A67C65;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.social {
    text-align: center;
    color: white;
}

.icon {
    width: 40px;
    margin: 10px;
}

form {
    background: #C8A791;
    padding: 20px;
    width: 300px;
}

form h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    margin-bottom: 12px;
    padding: 8px;
    border: none;
    background: #EFE7DD;
}

/* ----------------------------------------
   RESPONSIVE
----------------------------------------- */
@media (max-width: 600px) {

    .produits-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .artistes-grid {
        grid-template-columns: 1fr;
    }

    .artist {
        flex-direction: column;
        text-align: center;
    }

    .contact {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }
}

