/* GLOBAL STYLE */
body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    color: #222;
}

h1, h2, h3, .logo {
    font-family: 'Cinzel', serif;
}

/* HEADER */
header {
    position: absolute;
    top: 0;
    width: 100 %;
    padding: 25 px 40 px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

header .logo {
    color: white;
    font-size: 20 px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 25 px;
    font-size: 15 px;
}

/* HERO SECTION */
.hero {
    background-image: url("https://images.unsplash.com/photo-1523289333742-be1143f6b766?auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    background-position: center;
    height: 420 px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-text h1 {
    font-size: 42 px;
    text-align: center;
    margin: 0;
}

.hero-text p {
    font-size: 20 px;
    text-align: center;
    margin-top: 10 px;
}

/* PRODUITS*/
.produits {
    background: #F2EBE3;
    padding: 60 px 40 px;
    text-align: center;
}

.produits h2 {
    font-size: 28 px;
    margin-bottom: 40 px;
}

.produits-grid {
    display: grid;
    grid-template-columns: repeat (3, 1 fr);
    gap: 25 px;
}

.produit {
    position: relative;
}

.produit img {
    width: 100 %;
    height: 230 px;
    object-fit: cover;
}

.produit span {
    position: absolute;
    bottom: 10 px;
    left: 50 %;
    transform: translateX (-50 %);
    background: white;
    padding: 6 px 20 px;
    font-size: 18 px;
}

/* ARTISTES*/
.artistes {
    background: #A67C65;
    padding: 70 px 50 px;
    color: white;
}

.artistes h2 {
    text-align: center;
    margin-bottom: 40 px;
}

.artistes-grid {
    display: grid;
    grid-template-columns: repeat (2, 1 fr);
    gap: 40 px;
}

.artist {
    display: flex;
    align-items: flex-start;
    gap: 20 px;
}

.artist img {
    width: 140 px;
    height: 140 px;
    object-fit: cover;
}

.artist h3 {
    margin: 0;
    margin-bottom: 8 px;
}

.artist p {
    margin: 0;
    color: #F2EBE3;
}

/* A PROPOS*/
.apropos {
    padding: 50 px 60  px;
    background: #EFE7DD;
}

.apropos h4 {
    margin-bottom: 20 px;
    font-size: 18 px;
}

/* CONTACT*/
.contact {
    background: #A67C65;
    padding: 60 px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.social {
    text-align: center;
    color: white;
}

.icon {
    width: 40 px;
    margin: 10 px;
}

form {
    background: #C8A791;
    padding: 20 px;
    width: 300 px;
}

form h2 {
    color: white;
    text-align: center;
    margin-bottom: 20 px;
}

form input {
    width: 100 %;
    margin-bottom: 12 px;
    padding: 8 px;
    border: none;
    background: #EFE7DD;
}

/* RESPONSIVE*/
@media (max-width: 900 px) {

    .produits-grid {
        grid-template-columns: repeat (2, 1 fr);
    }

    .artistes-grid {
        grid-template-columns: 1 fr;
    }

    .artist {
        flex-direction: column;
        text-align: center;
    }
   .contact {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40 px;
    }
}
